/**
 * Learn HTML & CSS from Scratch
 * 4.1: Responsive Layouts
 */

/********** Device Styles **********/

/**
 * Tablet Landscape: 1024px
 */

@media only screen and (max-width: 1024px) {

  .wrapper {
    width: 98%;
  }

  #social {
    position: absolute;
    top: 100px;
    right: 5%;
    width: auto;
  }

  #socialContainer{
    top:0px;
    width: 137px;
    height: 144px;
  }

  #social a {
    display: inline-block;
  }

}

/**
 * Tablet Portrait: 768px
 */

@media only screen and (max-width: 768px) {

  #nav_bar nav a {
    font-size: 0.8em;
  }

}

/**
 * Smartphone Landscape: 480px
 */

@media only screen and (max-width: 480px) {

  #social {
    position: absolute;
    top: 11px;
    right: 5%;
    width: auto;
  }

  #socialContainer{
    top:0px;
    width: 76px;
    height: 35px;
  }

  a.fbook, a.twitt, a.gplus {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/social-icons.png) no-repeat;
    background-size: 60px;
  }

  a.fbook { background-position: 0 0; }
  a.fbook:hover { background-position: -20px 0; }
  a.fbook:active { background-position: -40px 0; }

  a.twitt { background-position: 0 -20px; }
  a.twitt:hover { background-position: -20px -20px; }
  a.twitt:active { background-position: -40px -20px; }

  a.gplus { background-position: 0 -40px; }
  a.gplus:hover { background-position: -20px -40px; }
  a.gplus:active { background-position: -40px -40px; }


  #nav_bar {
    position: static;
    border-top: 1px solid #ccc;
  }

  #nav_bar nav a {
    padding: 10px 0;
  }

  #logo {
    padding: 0 0 10px;
  }

  #logo h1, #logo h2 {
    margin-top: 10px;
    font-size: 1em;
  }

  #logo h1 {
    padding: 0 0 0 30px;
    background-position: 0 -5px;
  }

  .col1_left, .col1_mid, .col1_right, .col2_left, .col2_right { /*these don't exist, I maaaaay have changed them... whoops */
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }

  #wood .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "holiday holiday"
    "header header"
    "main2 main2"
    "arch arch"
    "subShoe1 subShoe1"
    "subShoe2 subShoe3";  
  }

  #archiveHeader{grid-area:archiveHeader;}
  #a2014h{grid-area: a2014h;} /*names can't start with numbers!!*/
  #a2014{grid-area: a2014;}   /*that was a painful lesson :( */
  #a2013h{grid-area: a2013h;}
  #a2013{grid-area: a2013;}
  #a2012h{
    grid-area: a2012h;
    border-bottom: 1px solid #555;
    width: 80%;
    height: 1em;
  }
  #a2012h a{
    text-decoration: none;
  }
  #a2012late{grid-area: a2012a;}
  #a2012early{grid-area: a2012b;}

  .archiveList{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "archiveHeader archiveHeader"
    "a2014h a2013h"
    "a2014 a2013"
    "a2012h a2012h"
    "a2012a a2012b";
  }

  .subShoe1{
    display:grid;
    grid-template-areas:
    "image text1"
    "image text2";
  }
  .subShoe1 figure{grid-area: image;}
  .subShoe1 h3{grid-area: text1;}
  .subShoe1 p{grid-area: text2;}

  .border_right {
    border-right: 0;
  }

  .hider {
    display: none;
  }
  #details .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "foota footb"
    "footc footb";
  }
  .footerA{
    grid-area: foota;
    border-bottom: 1px dotted #ccc;
  }
  .footerB{
    grid-area: footb;
    border: 0px;
  }
  .footerC{
    grid-area: footc;
    padding-top: 20px;
    margin-top: -9px;
    border-right: 1px dotted #ccc;
    padding-right: 20px;
}


}

/**
 * Smartphone Portrait: 320px
 */

@media only screen and (max-width: 320px) {

  #social {
    display: none;
  }

  #wood .wrapper{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "holiday"
    "header"
    "main2"
    "arch"
    "subShoe1"
    "subShoe2"
    "subShoe3";  
  }

  .subShoe1{
    display:block;
  }

  #details .wrapper{
    grid-template-columns: 1fr;
    grid-template-areas:
    "foota"
    "footb"
    "footc";
  }

  .footerA, .footerB, .footerC{
    border: 0px;
  }

  #nav_bar {
    width: 100%;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    background: white;
  }

  #nav_bar .wrapper {
    width: 100%;
  }

  #nav_bar nav {
    border-left: 0;
  }

  #nav_bar nav a {
    display: block;
    width: 100%;
    font-size: 1.25em;
    border-right: 0;
    border-top: 1px solid #ccc;
  }

  #logo {
    text-align: center;
  }

  th, td {
    padding: 3px;
    font-size: 0.9em;
  }

  input.verif_box {
    display: inline-block;
    width: 70%;
    margin-right: 5px;
  }

}

/**
 * Printer
 */

@media print {

  *, h1, h2, h3, h4, h5, h6, p, a, section, div, table {
    color: black;
  }
  
}

/* code examples copyright Jonathan Grover 2012 */